[submodule "MC-CNN-python"]
	path = MC-CNN-python
	url = git@github.com:um-dsrg/MC-CNN-python.git
[submodule "s2p"]
	path = s2p
	url = ssh://git@dsrg-ict.research.um.edu.mt:2222/rrfarr/s2p.git
[submodule "homography"]
	path = homography
	url = ssh://git@dsrg-ict.research.um.edu.mt:2222/jabriffa/homography.git
[submodule "LAF"]
	path = LAF
	url = ssh://git@dsrg-ict.research.um.edu.mt:2222/rrfarr/LAF.git
