[submodule "MC-CNN-python"]
	path = MC-CNN-python
	url = git@github.com:um-dsrg/MC-CNN-python.git
[submodule "s2p"]
	path = s2p
	url = git@github.com:um-dsrg/s2p.git
[submodule "homography"]
	path = homography
	url = git@github.com:um-dsrg/homography.git
[submodule "LAF"]
	path = LAF
	url = git@github.com:um-dsrg/LAF.git
