absl-py==0.11.0
ad==1.3.2
affine==2.3.0
astor==0.8.1
attrs==20.3.0
beautifulsoup4==4.9.3
boto3==1.17.6
botocore==1.20.6
bs4==0.0.1
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cycler==0.10.0
decorator==4.4.2
et-xmlfile==1.0.1
filelock==3.0.12
gast==0.4.0
geojson==2.5.0
google-pasta==0.2.0
grpcio==1.35.0
h5py==3.1.0
idna==2.10
imageio==2.9.0
importlib-metadata==3.4.0
jdcal==1.4.1
jmespath==0.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.35.0
lxml==4.6.2
Markdown==3.3.3
matplotlib==3.3.2
memory-profiler==0.58.0
networkx==2.5
numba==0.52.0
numpy==1.16.4
opencv-contrib-python==4.2.0.34
openpyxl==3.0.5
pandas==1.1.3
Pillow==8.1.0
pkg-resources==0.0.0
plyfile==0.7.3
protobuf==3.14.0
psutil==5.8.0
pyparsing==2.4.7
pyproj==3.0.0.post1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
ransac==1.0.2
rasterio==1.1.8
requests==2.25.1
rpcm==1.4.7
s2p==1.0b23
s3transfer==0.3.4
scikit-image==0.17.2
scipy==1.5.4
six==1.15.0
snuggs==1.4.7
soupsieve==2.2
srtm4==1.1.5
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
tifffile==2020.9.3
tqdm==4.50.0
typing-extensions==3.7.4.3
urllib3==1.26.3
utm==0.7.0
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
zipp==3.4.0
